@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header img{
    width: 75px;
}

header ion-icon{
    width: 45px;
    height: 45px;
}

main{
    margin-top: 106px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

strong{
    font-weight: 700;
}

span{
    color: #aaaaaa;
}

.message,
.private,
.status{
    padding: 14px 8px;
}

.message p,
.private p,
.status p{
    font-size: 14px;
}

.message{
    background-color: #FFFFFF;
}

.private{
    background-color: #FFDEDE;
}

.status{
    background-color: #DCDCDC;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 22px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

input{
    border: none;
    width: 100%;
    outline: none;
    font-size: 18px;
}

input::placeholder{
    font-style: italic;
    font-size: 18px;
}

footer ion-icon{
    width: 27px;
    height: 27px;
}

.from-status{
    font-size: 14px;
    font-weight: 300;
    color: #505050;
    position: absolute;
    bottom: 10px;
    left: 22;
}