@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #ffffff;
}

section img{
    width: 130px;
    margin-top: 72px;
    margin-bottom: 94px;
}

section>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>div img{
    width: 130px;
    margin: 0;
}

section input{
    width: 261px;
    height: 54px;
    margin-bottom: 15px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    outline: none;
    text-align: center;
    font-size: 18px;
    color: #aeaeae;
}

section input::placeholder{
    color: #aeaeae;    
}

section button{
    width: 109px;
    height: 45px;
    border: none;
    border-radius: 9px;
    background-color: #e7e7e7;
    font-size: 18px;
    text-align: center;
    color: #696969;
}

.hidden{
    display: none;
}

header{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}

header img{
    width: 75px;
}

header ion-icon{
    width: 45px;
    height: 45px;
}

main{
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 84px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: scroll;
}

strong{
    font-weight: 700;
}

span{
    color: #aaaaaa;
}

.message,
.private,
.status{
    padding: 14px 8px;
    word-break: break-all;
    line-height: 20px;
}

.message p,
.private p,
.status p{
    font-size: 14px;
    border-radius: 2px;
}

.message{
    background-color: #FFFFFF;
}

.private{
    background-color: #FFDEDE;
}

.status{
    background-color: #DCDCDC;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 22px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

footer input{
    border: none;
    width: 100%;
    outline: none;
    font-size: 18px;
}

footer input::placeholder{
    font-style: italic;
    font-size: 18px;
}

footer ion-icon{
    width: 27px;
    height: 27px;
}

.from-status{
    font-size: 14px;
    font-weight: 300;
    color: #505050;
    position: absolute;
    bottom: 10px;
    left: 22;
}